<!DOCTYPE html>
{% load compress %} {% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Parth Thakur" />
    <title>The Anime Dashboard</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,500;1,300;1,500&display=swap"
      rel="stylesheet"
    />
    {% compress css %}
    <link
      rel="stylesheet"
      type="text/x-scss"
      href="{% static 'css/index.scss' %}"
    />
    {% endcompress %}
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
